extends layout

block content
  div
    #top.container-fluid
      .row
        .col-3
          #weather.txt-center
            span= weather
        .col-6
          #title.txt-center
            h1 TODO LIST
        .col-3
          #login-info.txt-center
            img.headshot
            if user
              a.btn.btn-secondary(href="/logout", role="button") #{user.name} | 登出
            else
              a.btn.btn-primary(href="/login", role="button") 登入
              a.btn.btn-secondary(href="/signup", role="button") 註冊
    #content.container-fluid
      .row
        .col-md-3
          #left-block
        .col-md-9
          #right-block
            #additem.txt-center
              form(method="POST" action="/items")
                input.input-control(type="date" name="itemDate")
                input.input-control(type="text" name="itemText" placeholder="看線上課程一單元")
            hr
            each items, date in LIST
              .date-todo
                h3= date
                .row
                  .col-md-2
                    h2 DOING
                  .col-md-10
                    ul
                      each item in items.doing
                        form(method="POST" action="/items/delete")
                          li
                            .item
                              input.check-state(type="checkbox", data-item-state="doing")
                              span= item.text
                              input.close(type="submit", value="x")
                              input(type="hidden" name="itemId" value=item.id)
                              input(type="hidden" name="itemDate" value=date)
                              input(type="hidden" name="itemState" value="doing")
                .row
                  .col-md-2
                    h2 DONE
                  .col-md-10
                    ul
                      each item in items.done
                        form(method="POST" action="/items/delete")
                          li
                            .item
                              input.check-state(type="checkbox", data-item-state="done", checked="true")
                              span= item.text
                              input.close(type="submit", value="x")
                              input(type="hidden" name="itemId" value=item.id)
                              input(type="hidden" name="itemDate" value=date)
                              input(type="hidden" name="itemState" value="done")
              hr
  script.
    $(()=>{
      $(".check-state").on("change", async e => {
        const currentCheckbox = $(e.target);

        const itemState = currentCheckbox.data("item-state");
        const itemId = currentCheckbox.siblings("[name=itemId]").val();
        const itemDate = currentCheckbox.siblings("[name=itemDate]").val();

        const result = await (await fetch("/items/state", {
          body: JSON.stringify({
            itemId,
            itemDate,
            itemState
          }),
          headers: {
            "content-type": "application/json"
          },
          method: "PUT"
        })).json();

        if (result.success) {
          window.location.reload();
        }
      });
    });