extends layout

block content
  div
    #top.container-fluid
      .row
        .col-3
          #weather.txt-center
            img.icon(src="./img/sunny.png")
            span 36&deg;C
        .col-6
          #title.txt-center
            h1 TODO LIST
        .col-3
          #login-info.txt-center
            if user
              img.headshot
              a.btn.btn-secondary(role="button", href="/logout") #{user.name} | 登出
            else
              a.btn.btn-primary(role="button", href="/login") 登入
              a.btn.btn-secondary(role="button", href="/signup") 註冊
    #content.container-fluid
      .row
        .col-md-3
          #left-block
        .col-md-9
          #right-block
            #additem.txt-center
              form(method="POST", action="/items")
                input.input-control(type="date", name="itemDate")
                input.input-control(type="text", name="itemText", placeholder="請輸入待辦事項")
            hr
            each items, date in LIST
              .date-todo
                h2= date
                .row
                  .col-md-2
                    h3 DOING
                  .col-md-10
                    ul
                      //- show doing item
                      each item in items.doing
                        form(method="POST", action="/items/delete")
                          li
                            .item
                              input.check-state(type="checkbox")
                              span= item.text
                              input.close(type="submit", value="x")
                              input(type="hidden", name="itemId", value=item.id)
                              input(type="hidden", name="itemDate", value=date)
                              input(type="hidden", name="itemState", value="doing")
                .row
                  .col-md-2
                    h3 DONE
                  .col-md-10
                    ul
                      //- show done item
                      each item in items.done
                        form(method="POST", action="/items/delete")
                          li
                            .item
                              input.check-state(type="checkbox", checked=true)
                              span= item.text
                              input.close(type="submit", value="x")
                              input(type="hidden", name="itemId", value=item.id)
                              input(type="hidden", name="itemDate", value=date)
                              input(type="hidden", name="itemState", value="done")
              hr
  script.
    $(() => {
      $(".check-state").on("change", async e => {
        const currentCheckbox = $(e.target);

        const itemState = currentCheckbox.siblings("[name=itemState]").val();
        const itemId = currentCheckbox.siblings("[name=itemId]").val();
        const itemDate = currentCheckbox.siblings("[name=itemDate]").val();

        const result = await (await fetch("/items/state", {
          body: JSON.stringify({
            itemId,
            itemDate,
            itemState
          }),
          headers: {
            "content-type": "application/json"
          },
          method: "PUT"
        })).json();

        if (result.success) {
          window.location.reload();
        }
      });
    });